<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper blue darken-4">
            <a href="/" class="brand-logo center"><i class="material-icons">live_tv</i>Movify</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/findTheaters">Find Theaters Near You</a></li>
                <li><a href="/userfav">User Recommendations</a></li>
            </ul>
            <ul class="left hide-on-med-and-down">
                {% if session['username'] %}
                <li><a href="/login/logout/index">Logout</a></li>
                {% else %}
                <li><a href="/login/init/index">Login/Sign Up</a></li>
                {% endif %}
                <li><a href="/timeRec">What Movie Should I Watch?</a></li>
                <li><a href="/displayFavorites">Your Favorites</a></li>
            </ul>

        </div>
    </nav>
    <h3>{{msg}}</h3>
    <div class="container">
        <h1>Login</h1>
        <form method="post" action="/login/login/{{redirectedFrom}}">
            <label for="username">Username</label>
            <input type="text" name="username" />
            <label for="password">Password</label>
            <input type="password" name="password" />
            <input type="submit" value="Submit" />
        </form>
        <h1>Sign Up</h1>
        <form method="post" action="/login/signup/{{redirectedFrom}}">
            <label for="username">Username</label>
            <input type="text" name="username" />
            <label for="password">Password</label>
            <input type="password" name="password" />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>

</html>
