<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Cabin|Varela+Round&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="shortcut icon" type="image/png" href="https://png.pngtree.com/element_our/png/20181213/video-vector-icon-png_267481.jpg"/>
        <title>Movie Recommendations</title>
    </head>
    <body>
      <nav>
          <div class="nav-wrapper blue darken-4">
              <a href="/" class="brand-logo center"><i class="material-icons">live_tv</i>Movie App</a>
              <ul class="right hide-on-med-and-down">
                  <li><a href="/findTheaters">Find Theaters Near You</a></li>
                  <li><a href="/userfav">User Favorites</a></li>
              </ul>
              <ul class="left hide-on-med-and-down">
                 <li><a href="/timeRec">What Movie Should I Watch?</a></li>
              </ul>
              
          </div>
      </nav>
      <div class="container text-align: center">
        <h4>How much time do you have to watch a movie?</h4>
        <form method='post' action='/calcTime'>
          <label for="hours">Enter hours:</label>
          <input type="text" name="hours"/>
          <label for="minn">Enter minutes:</label>
          <input type="text" name="minn"/>
          <button class="btn waves-effect waves-light blue darken-4">Find Movies!</button>
        </form>
      </div>
    </body>
</html>