<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Cabin|Varela+Round&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Users' Favorite Movies</title>
    </head>
    <body>
      <nav>
        <div class="nav-wrapper blue darken-4">
          <a href="/" class="brand-logo center"><i class="material-icons">live_tv</i>Movie App</a>
          <ul class="right hide-on-med-and-down">
                <li><a href="/timeRec">What Movie Should I Watch?</a></li>
                <li><a href="/userfav">User Input</a></li>
          </ul>
        </div>
      </nav>
        <h1>Users' Favorite Movies</h1>
      <form method='post' action='/addMovie'>
        <label for="name">What is your name?</label>
        <input type="text" name="name"/>
        <label for="movie-name">Movie Name</label>
        <input type="text" name="movie-name"/>
        <button class="btn waves-effect waves-light blue darken-4" <input type="submit" value="Submit"></input>Submit</button>
      </form>
        <div class="movie-list">
        <ul>
          {% for movie in collection %}
            <div class="row">
            <div class="col s12 m6">
              <div class="card blue darken-4 center-align">
                <div class="card-content white-text">
                  <p> <li>{{movie["name"]}} recommends "{{ movie["movie-name"]}}"</li></p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </ul>
        
      </div>
      
    </body>
</html>